DATABASE_URL="mysql://root:123456@localhost:3306/dk_cmms"
PORT=3001
CORS_ORIGIN="http://localhost:5173"
KEYCLOAK_JWKS_URI="http://localhost:8080/realms/cmms/protocol/openid-connect/certs"
KEYCLOAK_ISSUER="http://localhost:8080/realms/cmms"
KEYCLOAK_AUDIENCE="cmms-app"
